@media screen and (min-width: 750px){

h2{
    
   
    text-align: left;
}

    #boxing{
        display: flex;
    }
 

    .cancelbtn {
        width: auto;
        margin-right: 3.125rem;
     }


}